th,.clickable
{
    cursor: pointer;
}
.edit,.delete,.more,.cancel,.confirm,.download
{
    color:  #a7b2c5;
    cursor: pointer;
}
.download:hover{
    color:blue;
}
.edit:hover,.more:hover,.cancel:hover,.confirm:hover{
    color: black;
}

.delete:hover {
    color:red;
}