body {
    background-color: #468499;
    font-size:20px;
}


@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

#login_form {
    background-color: #fff;
    padding: 20px 20px 20px 20px;
    border-radius: 3px;
    border: 1px solid #f47521;
    width:300px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

label {
    
    margin-top:3%;
}

input[type=text],input[type=password]{
	width: 100%;
	border: 1px solid #e2eaf7;
    border-radius: 3px;
    padding: 12px 12px;
    margin-top:30px;
    font-size:16px;
}

button {
	margin: 10px;
	background-color:#f47521;
	color: white;
	padding: 12px 20px;
    border-width:2px;
    border-style: solid;
    border-color: #f47521; 
	cursor: pointer;
    border-radius: 3px;
    font-size:16px;
}
button:hover,
button:focus{
    border-color: #468499;
  }

h3 {
    padding: 10px 10px 10px 0;
    margin:0;
    background-color:white;
    text-align: center;
}