/* The sidebar menu */
.nav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #194b73; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .nav a {
    padding: 10px 8px 10px 16px;
    text-decoration: none;
    font-size: 23px;
    color: #ffffff;
    background-color: #194b73; 
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .nav a:hover {

    background-color: #f47521; 
  }
  /* the h2 & hr styling order is importent - don't change it!*/
  .header_inline{
    display: inline;
  }
  .header_block{
    display: block;
  }
  main {
    align-items: flex-start; /*prevents from items to strech to the hight of the container */
    margin-right: 160px; /* Same as the width of the sidebar */
    display: flex;
  }
  header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 160px; /* Same as the width of the sidebar */
  }
  .main_block {
    flex-basis: 500px;
    padding: 20px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #c3d3ec;
  }

  .popup_form_div {
    flex-basis: 500px;
    padding: 20px;
   }

  table {
    border-collapse: collapse;
  }
   td, th, tr {
    border: 1px solid #e2eaf7;
    padding: 5px;
  }
  
  tr:hover{
    background-color: #e2eaf7;
  }
  table th {
    padding: 7px;
    text-align: start;
    background-color: #468499;
    color: white;
  }

  button {
    margin: 5px;
    background-color: #194b73;
    color: white;
	  border-width:2px;
    border-style: solid;
    border-color: #194b73; 				 						   
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
  }
  button:hover,
  button:focus{
    border-color:#df7936;
  }

  hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-color:#f47521;
}

h2 {
  margin: 10px;
}

textarea {
 display: inline-block;
 vertical-align: middle;
}

input[type=text] {
  padding: 5px;
  border: 1px solid #c3d3ec;
}

input[type=password] {
  padding: 5px;
  border: 1px solid #c3d3ec;
}

input[type=number] {
  padding: 5px;
  border: 1px solid #c3d3ec;
}

input[type=file] {
  padding: 5px;
}

select{
  padding: 5px;
  border: 1px solid #c3d3ec;
}

.highlight, .highlight:hover{
  background-color: #ffc095;
}

.container_cell{
  margin: -5px;
  padding: 0;
}

.main_table_th {
  background-color: #194b73;
  color: white;
}

.statistic {
  background-color: #b8d3e9;
}
/* Modal styling */
.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); /* Black with opacity */
}
.modalWrapper{
  vertical-align: middle;
  background-color: #468499;
  border: 2px solid rgb(65, 65, 65);
  padding:50%,50%;
  height: 50%;
  width: 50%;
  position: absolute;
  top: 15%;
  left: 25%;
}
.modalContent{
  background-color: #ffffff;
  border: 1px solid rgb(65, 65, 65);
  height: 90%;
  width: 90%;
  position: absolute;
  left:5%;
  top:5%;
  overflow: auto;
}
.modalForm
{
  padding-top: 10%;
  text-align: center;
}

#errmsg_div
{
  padding: 5px;
  background-color: #faad6e;
  width: 100%;
}

.error
{
  color: #ff653e;
}

#reports
{
  flex-basis: 900px;
}

.comments
{
  border-top: 1px solid #c3d3ec;  
  padding-top: 10px;;
}

.single_report
{
  margin-bottom: 40px;
}