.spinner{
    display: none; /* hidden by default*/
    border: 5px solid #c4c4c4;
    border-top: 5px solid #468499;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 1s linear infinite;/*older cross-browser support*/
}
/*older cross-browser support*/
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }