body {
    background-color: #468499;
    margin: 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
    font-size: 18px;
}


button {
    background-color: #194b73;
    color: white;
    padding: 12px 20px;
    border-width:2px;
    border-style: solid;
    border-color: #194b73;						   
    cursor: pointer;
    border-radius: 3px;
  }
  button:hover,
  button:focus{
    border-color:#f47521;
  }

tr, td {
    padding: 12px 10px 12px 10px;
    border: 2px solid white;
}

textarea {
    width: 60%;
    height: 100px;
}

table {
    font-size:18px;
    border-collapse: collapse;
}

#message {
    font-size:18px;
    display: inline-block;
    margin: 0;
    padding: 10px;
    background-color: #f47521b2;
}

.category {
    padding: 60px 80px 0 0;
    font-size: 24px;
    font-weight: bold; 
}

main {
    width: 70%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


#toggle_div {
    display: inline-block;
    margin: 0;
    padding: 10px;
}

#survey_message {
    font-size: 26px;
    color: #194b73;
    font-weight: bold;
}

.main_block {
    width: 80%;
}

#nav_buttons, #choice_buttons{
    margin-top: 5%;
    margin-bottom: 5%;
}

#finish {
    text-align: center;
    font-size: 24px;
}

th {
    background-color:#c4d5e2;
    border: 2px solid white;
}

.odd_row{
    background-color:#edeff3;
}


hr { 
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-color:#f47521;
}

#errmsg_div
{
  padding: 5px;
  background-color: #faad6e;
  width: 100%;
}

.error
{
  color: #ff653e;
}

/*
media queries for small sqreens and mobile
*/
@media only screen and (max-width: 1119px) {
    .main_block {
        width: 95%;
    }
    main {
        width: 90%;
    }
    .category {
        padding: 15px 40px 0 0;
        font-size: 18px;
    }
    body {
        font-size: 16px;
    }
    tr, td {
        padding: 10px 10px 10px 10px;
        border: 1px solid white;
    }
    table {
        font-size:16px;
    }
    textarea {
        width: 80%;
    }
    #survey_message {
        font-size: 30px;
    } 
    #message {
        font-size:16px;
        padding: 8px;
    } 
    #finish_choice {
        font-size: 18px;
    } 
  }

 @media only screen and (max-width: 719px) {
    .main_block {
      width: 99%;
  }
  main {
      width: 95%;
  }
  .category {
      padding: 15px 40px 0 0;
      font-size: 18px;
  }
  body {
      font-size: 16px;
  }
  tr, td {
      padding: 10px 10px 10px 10px;
      border: 1px solid white;
  }
  table {
      font-size:16px;
  }
  textarea {
      width: 90%;
  }
  #survey_message {
    font-size: 30px;
    }
    #message {
        font-size:16px;
        padding: 8px;
    } 
    #finish_choice {
        font-size: 18px;
    }         
} 

  @media only screen and (max-width: 479px) {
    button {
        padding: 20px 24px;
        font-size: 18px;
        border-radius: 3px;
      }
      .main_block {
        width: 99%;
    }
    main {
        width: 95%;
    }
    .category {
        padding: 15px 40px 0 0;
        font-size: 18px;
    }
    body {
        font-size: 14px;
    }
    tr, td {
        padding: 10px 10px 10px 10px;
        border: 1px solid white;
    }
    table {
        font-size:14px;
    }
    textarea {
        width: 100%;
    } 
    #survey_message {
        font-size: 30px;
    }
    #message {
        font-size:14px;
        padding: 6px;
    }    
    #finish_choice {
        font-size: 18px;
    }        
  }